.calendar{
    background: url("autumn.jpg");
    width: 490px;
    margin: auto;
    padding: 20px;
    text-align: center
}
.month{
    width: 530px;
    height: 50px;
    margin:auto;
    background: rgb(219, 120, 5);
    font-weight: bold;
    font-size: 40px;
    color: rgb(219, 231, 235);
    text-align: center;   
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  .day{
    font-weight: bold;
    font-size: 20px;
    float: left;
    width: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .number{
    font-weight: bold;
    font-size: 30px;
    color: rgb(1, 12, 10);
    float: left;
    width: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
 }
 .weekend{
    font-weight: bold;
    color: aqua;
    font-size: 30px;
    float: left;
    width: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
 }
 .now{
    font-weight: bold;
    color: red;
    font-size: 30px;
    float: left;
    width: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
 }
 .other{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.466);
    font-size: 30px;
    float: left;
    width: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
 }
