.picture{
    background-image: url(city.jpg);
    width:1250px;
    height: 781px;
    position:relative;
}

.hulk{
    width: 210px;
    position:absolute;
    bottom: 200px;
    left: 300px;
}

.deadpool{
    width: 110px;
    position: absolute;
    bottom: 230px;
    right: 150px;
}

.iron-man{
    width: 50px;
    position:absolute;
    right: 300px;
    top: 20px;
}

.darth{
    width: 140px;
    position:absolute;
    bottom:220px;
    right:400px;
    z-index: 2;
}

.stormtrooper{
    width: 55px;
    position:absolute;
    bottom:270px;
    right:370px;
}

.ufo{
    width: 70px;
    position:absolute;
    top:10px;
    right:520px;
}

.stone{
    width: 110px;
    position:absolute;
    bottom:80px;
    right:220px;
    z-index: 2;
}

.boom{
    width: 70px;
    position:absolute;
    bottom:210px;
    left:580px;
}

.wanted{
    width: 40px;
    position:absolute;
    bottom:300px;
    right:110px;  
}

.leopold{
    width: 30px;
    position:absolute;
    bottom:315px;
    right:115px;  
}

.ghost{
    width: 50px;
    position:absolute;
    top:240px;
    left:210px; 
}
.portal{
    width: 70px;
    position:absolute;
    bottom:280px;
    left:220px; 
}
.terminator{
    width: 40px;
    position:absolute;
    bottom:280px;
    left:240px; 
}
.lavka{
    width: 100px;
    position:absolute;
    bottom:220px;
    left:450px;   
}
.gazeta{
    width: 50px;
    position:absolute;
    bottom:50px;
    left:370px;   
}
.vis{
    width: 60px;
    position:absolute;
    bottom:420px;
    left:80px;  
}
.mashina{
    width: 120px;
    position:absolute;
    bottom:300px;
    right:250px;   
}
.pokemon{
    width: 30px;
    position:absolute;
    bottom:100px;
    right:210px;   
}
.cat{
    width: 80px;
    position:absolute;
    bottom:120px;
    right:410px;   
}
.fire{
    width: 150px;
    position:absolute;
    bottom:120px;
    right:410px
}